<div class="col-md-12 col-lg-6">
    <div class="panel panel-default" >
        <div class="panel-body" [routerLink]="[message.messageId]">
            <div class="row" >
                <div class="col-xs-4">
                    <div class="thumbnail">	
                        <img style="height: 125px;" [src]= message.image>
                    </div>
                </div>
                <div class="col-xs-8">
                    <h5 class="pull-right"> {{ message.created }} </h5>
                    <p class="self-content-lg"> <strong> {{ message.author }} </strong> </p>
                    <p class="self-content-lg">
                        {{ message.content.substring(0,50) }}
                        <span *ngIf="message.content.length > 50">...</span>
                    </p>
                    <!--<a  class="ui blue basic button"
                        style="font-size: 1.1em;"
                        [routerLink]="[message.messageId]">
                            More <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>-->
                </div>	
            </div>
        </div>
    </div>
</div>